body {
    background-color: #ccc;
}

@media (max-width: 1199.98px) {
    body {
        background-color: #0000ff;
    }
}

@media screen and (max-width: 992px) {
    body {
        background-color: #00ff00;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: #ff0000;
    }
}